<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzk.plus.mapper.UserMapper">


    <select id="findUser" resultType="com.qzk.plus.entity.User">
        <!--这个⾥⾯写动态SQL、多表关联查询都可以胜任-->
        SELECT id,name,age,email
        FROM user
        <trim prefix="WHERE" prefixOverrides="AND|OR"
              suffixOverrides="AND|OR">
            <if test="name != null and name != '' ">
                AND name = #{name}
            </if>
            <if test="email != null and email != '' ">
                AND email= #{email}
            </if>
        </trim>
    </select>


</mapper>
