<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozermapper.github.io/schema/bean-mapping"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozermapper.github.io/schema/bean-mapping http://dozermapper.github.io/schema/bean-mapping.xsd">

    <configuration>

    </configuration>

    <mapping>
        <class-a>com.qzk.orm.dozer.User</class-a>
        <class-b>com.qzk.orm.dozer.UserVo</class-b>
        <field>
            <a>avatar</a>
            <b>touxiang</b>
        </field>
    </mapping>
</mappings>